<div th:replace="home/header">
</div>

<div class="container">
    <div class="row">
        <div class="col col-md-6">
            <h4><b>कोरोना भाइरस (कोभिड-१९)</b></h4>
            <p style="font-family: sans-serif;">हाल विश्वभरी फैलिरहेका नयाँ कोरोना भाइरसको संक्रमणबाट लागेको रोगलाई विश्व स्वास्थ्य संगठनले “कोभिड १९” को नाम दिएको छ र यसलाई विश्वव्यापी महामारीको रुपमा घोषणा गरिसकिएको छ ।कोरोना भाइरस श्वाशप्रश्वाशको माध्यमबाट सर्ने रोग हो । यो संक्रमित
                व्यक्त्तिले खोक्दा वा हाछ्युँ गर्दा नाक वा मुखबाट निस्कने छिट्टाको माध्यमबाट एक व्यक्त्तिबाट अर्को व्यक्त्तिमा सर्दछ ।
                <br>
                <br> यो नयाँ प्रजातिको भाइरस हो जुन मानव जातिमा पहिले पहिचान भएको थिएन। यस भाइरसले मानिस र पशुहरूमा संक्रमण गर्दछ। यस भाइरसले सामान्य रुघाखोकी देखि गम्भीर प्रकारको तीव्र श्वासप्रश्वास Severe Acute Respiratory Syndrome (SARS) सम्म गराउन
                सक्दछ ।</p>
        </div>
        <div class="col col-md-6">
            <iframe src="https://www.youtube.com/embed/epn6_LO1OGM" width="100%" style="border-radius: 10px;" height="315" frameborder="0" allowfullscreen></iframe>

        </div>

    </div>
    <br>
    <div class="row">
        <div class="col col-md-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="romour" href="javascript:voi(0)" role="tab" aria-controls="home">प्रायः सोधिने प्रश्नहरू</a>
                <a class="list-group-item list-group-item-action" id="symtoms" href="javascript:voi(0)" role="tab" aria-controls="profile">लक्षणहरू</a>
                <a class="list-group-item list-group-item-action" id="precation" href="javascript:voi(0)" role="tab" aria-controls="messages">आफू र अरुलाई बचाउने तरिका</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" href="javascript:voi(0)" role="tab" aria-controls="settings">प्रायः सोधिने प्रश्नहरू</a>
            </div>
        </div>
        <div class="col-md-8" id="covid-data">
            <h4><b style="color: blue;">
                प्रायः सोधिने प्रश्नहरू</b></h4>

            <div class="list-group">

                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h4 class="mb-1"><b style="color: black;">1. के नोभल कोरोना भाइरस र SARS एउटै हुन्?</b></h4>

                    </div>
                    <p class="mb-1">
                        हालसम्म कोरोना भाइरस लामखुट्टेको टोकाईबाट सरेको पुष्टि भएको छैन।यो श्वासप्रश्वासबाट सर्ने भाइरस हो। कोरोना भाइरसबाट संक्रमित व्यक्त्तिले खोक्दा र हाँच्छ्यु गर्दा निस्कने थुक र सिँगानको माध्यमबाट एक व्यक्तिबाट अर्को व्यक्त्तिमा सर्दछ।
                    </p>

                </a>

            </div>
            <div class="list-group">

                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h4 class="mb-1"><b style="color: black;">२. के लसुन खानाले कोरोना भाइरसको संक्रमणबाट बच्न सकिन्छ?</b></h4>

                    </div>
                    <p class="mb-1">
                        हालसम्म लसुन खानाले कोरोना भाइरसको संक्रमण हुनबाट रोकथाम भएको तथ्य प्रमाणित भएको छैन। लसुन स्वास्थ्यको लागि लाभदायक छ र यसले हामीलाई स्वस्थ राख्न मद्दत गर्दछ।</p>

                </a>

            </div>
            <div class="list-group">

                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h4 class="mb-1"><b style="color: black;">३. के तिलको तेलको मालिसले कोरोना भाइरस शरीरमा प्रवेश गर्नबाट रोक्छ?</b></h4>

                    </div>
                    <p class="mb-1">
                        तिलको तेलले मालिस गर्नाले कोरोना भाइरस शरीरमा प्रवेश गर्नबाट रोक्दैन। तिलको तेलले कोरोना भाइरसलाई मार्न सक्दैन। भुई वा सतहमा भएको कोरोना भाइरसलाई निःसंक्रमण गर्नर् ७० प्रतिशत इथानोल, ०.५ प्रतिशत सोडियम हाइपोक्लोराइटहरू भएको रसायन वा घोलक, प्रयोग गर्नु
                        पर्छ।यी रसायनहरू कहिले पनि मानिसको शरीरमा प्रयोग गर्न हुदैन। यस्ता रसायनहरू छालामा परेमा हानिकारक हुन्छ। </a>

            </div>
            <div class="list-group">

                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h4 class="mb-1"><b style="color: black;">४. के पानी पिउनाले घाँटी दुखेको निको हुन्छ, र कोरोना भाइरसको संक्रमणबाट बचाउँछ?</b></h4>

                    </div>
                    <p class="mb-1">
                        स्वस्थ रहन पानी पिउनु अति आवश्यक छ। तर यसले कोरोना भाइरसको संक्रमणबाट बचाउँदैन।
                </a>

            </div>
            <div class="list-group">

                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h4 class="mb-1"><b style="color: black;">५. यो कोरोना भाइरसले वृद्धवृद्धालाई मात्र बढी असर गर्छ कि युवावर्ग पनि यसको जोखिम हुन्छन्?</b></h4>

                    </div>
                    <p class="mb-1">
                        सबै उमेर समूहका मानिसलाई कोरोना भाइरसले संक्रमण गर्न सक्दछ। तर ज्येष्ठ नागरिक र पहिल्यै देखिनै दम, मधुमेह, मुटुको रोग जस्ता स्वास्थ्य समस्या भएका व्यक्तिहरूलाई भने यो भाइरसले गम्भीर बिरामी बनाउने जोखिम हुन्छ।विश्व स्वास्थ्य संगठनले सिफारिस गरे अनुसार
                        यस भाइरसबाट बच्नको लागि बेलाबेलामा साबुन पानीले मिचिमिचि हात धुने वा अल्कोहल भएको स्यानिटाइजरको प्रयोग गनर्,े श्वासप्रश्वाससम्बन्धी सरसफाईमा विशेष ध्यान दिने जस्तै खोक्दा, हाँच्छ्यु गर्दा नाक मुख छोप्नु पर्दछ।
                </a>

            </div>
        </div>


    </div>







</div>
<div th:replace="home/footer "></div>

<script>
    $(document).ready(function() {
        $('#symtoms').on('click', function() {

            $.get('/more/table', function(data) {
                $('#covid-data').html(data);
            })
        })
        $('#romour').on('click', function() {

            $.get('/more/romour', function(data) {
                $('#covid-data').html(data);
            })
        })
        $('#precation').on('click', function() {

            $.get('/more/symtoms', function(data) {
                $('#covid-data').html(data);
            })
        })


    })
</script>