<div class="row thumbnail text-center">

    <div class="col col-md-2">
        <img src="dist/pic1.png" style="height: auto;" width="140px" alt="">
    </div>
    <div class="col col-md-8" style="padding-top: 10px;">
        <b style="color: black; font-family: sans-serif;">नोभल कोरोना भाइरसबाट कसरी आफू र अरुलाई बचाउने?</b></div>

</div>
<div class=" row thumbnail text-center">

    <div class="col col-md-4">
        <img src="dist/pic2.png " style="height: auto;" width="140px " alt=" ">

    </div>
    <div class="col col-md-8 ">
        <b style="color: black; font-family: sans-serif;">बेलाबेलामा साबुन-पानीले कम्तिमा २० सेकेन्ड मिचिमिचि हात धुने वा अल्कोहल भएको स्यानिटाइजर प्रयोग गर्ने ।</b>

    </div>
</div>
<div class="row thumbnail text-center">

    <div class="col col-md-4">
        <img src="dist/pic3.png" style="height: auto;" width="140px" alt="">

    </div>
    <div class="col col-md-8">
        <b style="color: black; font-family: sans-serif;">भिडभाडमा नजाने र अरुलाई पनि नजाने सुझाव दिने, हात मिलाउनुको सट्टा नमस्कार गर्ने ।</b>

    </div>
</div>
<div class="  row thumbnail text-center">

    <div class="col col-md-4">
        <img src="dist/pic4.png " style="height: auto;" width="140px " alt=" ">

    </div>
    <div class="col col-md-8">
        <b style="color: black; font-family: sans-serif;">खोक्दा वा हाछ्युँ गर्दा नाक मुख टिस्यू पेपर वा कुहिनाले छोप्ने र प्रयोग गरेको टिस्यू पेपरलाई बिर्को भएको फोहर फाल्ने भाँडोमा फाल्ने र साबुन-पानीले मिचिमिचि हात धुने वा अल्कोहल भएको स्यानिटाईजर प्रयोग गर्ने ।</b>

    </div>
</div>