<table class="table  table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>SYMPTOMS</th>
            <th>COVID-19</th>
            <th>COMMON COLD</th>
            <th>FLU</th>
            <th>ALLERGIES</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Fever</td>
            <td>common</td>
            <td>Rare</td>
            <td>common</td>
            <td>Sometimes</td>
        </tr>
        <tr>
            <td>Dry cough</td>
            <td>common</td>
            <td>MIld</td>
            <td>common</td>
            <td>Sometimes</td>
        </tr>
        <tr>
            <td>Shortness of breath</td>
            <td>common</td>
            <td>No</td>
            <td>No</td>
            <td>Common</td>
        </tr>
        <tr>
            <td>Headache</td>
            <td>sometimes</td>
            <td>rare</td>
            <td>common</td>
            <td>sometimes</td>
        </tr>
        <tr>
            <td>Aches and pains</td>
            <td>sometimes</td>
            <td>common</td>
            <td>common</td>
            <td>no</td>
        </tr>
        <tr>
            <td>Sore throat</td>
            <td>sometimes</td>
            <td>common</td>
            <td>common</td>
            <td>no</td>
        </tr>
        <tr>
            <td>Fatigue</td>
            <td>sometimes</td>
            <td>sometimes</td>
            <td>common</td>
            <td>sometimes</td>
        </tr>
        <tr>
            <td>Diarrhea</td>
            <td>rare</td>
            <td>no</td>
            <td>sometimes</td>
            <td>no</td>
        </tr>
        <tr>
            <td>Runny nose</td>
            <td>rare</td>
            <td>common</td>
            <td>sometimes</td>
            <td>common</td>
        </tr>
        <tr>
            <td>Sneezing</td>
            <td>no</td>
            <td>common</td>
            <td>no</td>
            <td>common</td>
        </tr>
    </tbody>
</table>