<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/mystyle.css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <title>Covid-Nepal</title>
</head>

<body>

    <div id="navbar1">
        <nav class="navbar navbar-default" style="height: auto;">


            <div class="container" id="header">
                <div class="row">
                    <div class="pull-right
                    " style="padding-top: 60px;">


                        <a href="https://play.google.com/store/apps/details?id=np.com.naxa.covid19"> <span><img alt="Brand" src="dist/google.png" class="img-responsive" width="110px;" height="115px;">
                       </a>
                        </span>
                    </div>

                    <a class="navbar-brand" href="/">
                        <img alt="Brand" src="dist/gov sign.png" class="img-responsive" width="100px;" height="100px;">
                    </a>



                    <label for="" style="padding-top:50px;
                    color: blue; font-family: sans-serif;">
                   <a href="/"> <h4><b> नेपाल सरकार<br>
                    <label for="" style="color: red;">स्वास्थ्य तथा जनसंख्या मन्त्रालय</label></b>
                    </h4>
                    </a>
                    </label>


                    <label id="contact" for="" class="text-center" style="padding-left: 310px;">
                        <b>
                            <p>
                               <span style="color: red;
                               font-size: 18px;">1115</span> (बिहान ६ देखि राती १० सम्म) <span style="color: red;
                               font-size: 18px;">1133</span>(चौबीसै घण्टा)<br>
                        <span style="color:royalblue"> 9851-255-834, 9851-255-837, 9851-255-839</span>(बिहान ८ - बेलुका ८)</p>
                        </b>
                    </label>


                </div>


            </div>


        </nav>


        <!-- /.navbar-collapse -->
    </div>
    <div id="navbar2">
        <nav class="navbar navbar-default " style="height: auto;">


            <div class="container" id="header2">
                <div class="text-center">


                    <a href="/">
                        <img alt="Brand" src="dist/gov sign.png" class="img-responsive center" width="50px;" height="auto;">
                    </a>


                    <a href="/">
                        <h4><b style="font-size: 12px; color:royalblue;"> नेपाल सरकार<br>
                        <label for="" style="color: red;">स्वास्थ्य तथा जनसंख्या मन्त्रालय</label></b>
                        </h4>
                    </a>
                    <span for="" class="text-center" style="font-size: 12px;
                    font-family: sans-serif;">
                    <b>
                        <p>
                           <span style="color: red;
                           font-size: 18px;">1115</span> (बिहान ६ देखि राती १० सम्म) <span style="color: red;
                           font-size: 18px;">1133</span>(चौबीसै घण्टा)<br>
                    <span style="color:royalblue"> 9851-255-834, 9851-255-837, 9851-255-839</span>&nbsp;&nbsp;(बिहान ८ - बेलुका ८)</p>
                    </b>
                    </span>
                    <a href="https://play.google.com/store/apps/details?id=np.com.naxa.covid19">
                        <img alt="Brand" src="dist/google.png" class="img-responsive center" width="60px;" height="60px;">
                    </a>




                </div>


            </div>


        </nav>

        <div>
            <marquee>
                <a href="https://covid19.mohp.gov.np/">
                    <p style=" color: red; 
                font-size: 15px; font-family: sans-serif;">
                        <span style="color:red;"><span style="color: black;">Note :</span> this is not an official website, Click here for official website</span>
                    </p>
                </a>
            </marquee>

        </div>

        <!-- /.navbar-collapse -->
    </div>


    <!-- /.container-fluid -->
    </nav>


    </div>