<div th:replace="home/header"></div>

<div class="container ">

    <div class="row ">
        <div class="col col-md-2 " id="worlddata">


            <div id="world">
                <span> <img src="dist/images.jpg " height="20px "></span> &nbsp;
                <label style="color: red; font-size:18px; ">विश्वभरीमा</label>
                <br>
                <br>


            </div>
            <div id="firstmain">


                <div>
                    <span><b style="color: blue; font-size: 25px;; "
                                id="worldpositive"></b></span>
                    <br>
                    <label style="color: grey; ">संक्रमित</label>

                    <br>
                    <br>


                </div>
                <div id="death">
                    <span><b style="color: red; font-size: 25px;; " id="worlddeaths"></b></span>
                    <br>
                    <label style="color: grey; ">मृत्यु भएको</label>
                    <br>
                    <br>

                </div>

            </div>


            <p style="font-size: 10px; font-style: italic; ">स्रोत : विश्व स्वास्थ्य संगठन अपडेट गरिएको : <span id="worldupdate"></span> </p>



        </div>
        <div id="searchdistrict">
            <form action="" id="searchuser">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" required id="search" placeholder="आफ्नो जिल्लाको हेर्नुहोस ">
                    <span class="input-group-btn">
                          <button type="submit" class="btn btn-info btn-flat" id="gosearch">Go!</button>
                        </span>
                </div>
            </form>


            <ul class="list-group" id="result"></ul>

        </div>

        <div class=" col col-md-8 ">

            <div>
                <span class="glyphicon glyphicon-equalizer ">&nbsp;<b style="color: red; font-size:18px; ">नेपालको पछिल्लो तथ्यांक</b></span> &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="text-center " style="font-style: italic; ">अपडेट गरिएको
                            :
                           <span id="update"></span></span>


            </div>

            <br> &nbsp;

            <div>
                <div class="row">
                    <div id="main">
                        <div class="thumbnail col-xs-2 col-md-3 text-center " style=" margin-right: 15px; width: 180px; height: 90px; background-color:#f2f7f4; ">
                            <br>
                            <b style="font-size:25px; " id="totalcase">
                           </b>
                            <br>
                            <p style="color: darkgray; "> PCR परिक्षण गरिएको</p>
                        </div>
                        <div class="thumbnail col-xs-6 col-md-3 text-center " style=" margin-right: 15px; width: 180px; height: 90px; background-color:#ddede9; ">
                            <br>
                            <b style="font-size:25px; " id="pcrpositive">
                           </b>
                            <br>
                            <p style="color: darkgray; "> संक्रमण देखिएको (PCR)</p>
                        </div>

                    </div>

                    <div id="main">

                        <div class="thumbnail col-xs-6 col-md-3 text-center " style=" margin-right: 15px; width: 180px; height: 90px; background-color: rgb(235, 251, 236);; ">
                            <br>
                            <b style="font-size:25px; " id="totalnegative">
                           </b>
                            <br>
                            <p style="color: darkgray; ">संक्रमण नदेखिएको (PCR)</p>
                        </div>
                        <div class="thumbnail col-xs-6 col-md-3 text-center " style=" margin-right: 15px; width: 180px; height: 90px; background-color:rgb(250, 226, 230) ">
                            <br>
                            <b style="font-size:25px; " id="totalcase2">
                           </b>
                            <br>
                            <p style="color: darkgray; "> PCR परिक्षण गरिएको</p>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div id="main">
                        <div class="thumbnail col-xs-6 col-md-3 text-center " style=" margin-right: 15px; width: 180px; height: 90px; background-color: rgb(250, 226, 230); ">
                            <br>
                            <b style="font-size:25px; " id="qurantine">
                       </b>
                            <br>
                            <p style="color: darkgray; "> क्वारेन्टाइनमा</p>
                        </div>
                        <div class="thumbnail col-xs-6 col-md-3 text-center " style=" margin-right: 15px; width: 180px; height: 90px; background-color: rgb(235, 214, 255); ">
                            <br>
                            <b style="font-size:25px; " id="isolation">
                       </b>
                            <br>
                            <p style="color: darkgray; "> आइसोलेसनमा</p>
                        </div>

                    </div>

                    <div id="main">




                        <div class="thumbnail col-xs-6 col-md-3 text-center " style=" margin-right: 15px; width: 180px; height: 90px; background-color: rgb(231, 231, 254); ">
                            <br>
                            <b style="font-size:25px; " id="recover">
                       </b>
                            <br>
                            <p style="color: darkgray; "> निको भएको</p>
                        </div>
                        <div class="thumbnail col-xs-6 col-md-3 text-center " style=" margin-right: 5px; width: 180px; height: 90px; background-color: rgb(251, 153, 158); ">
                            <br>
                            <b style="font-size:25px; " id="deaths">
                       </b>
                            <br>
                            <p style="color: darkgray; ">मृत्यु भएको</p>
                        </div>











                    </div>


                </div>




            </div>





        </div>
        <br>
        <br>
        <br>

        <div id="main2" class="col col-md-2 ">
            <div id="main" class="row" style="padding-top: 4px; ">
                <div class="thumbnail col-xs-6 col-md-3 text-center " style=" width: 180px; height: 90px; margin-right: 5px; ">
                    <br>
                    <span class="glyphicon glyphicon-exclamation-sign "></span>
                    <br>

                    <h5><b>कोरोना लक्षण मूल्यांकन</b></h5>


                </div>
                <div class="thumbnail col-xs-6 col-md-3 text-center " style=" width: 180px; height: 90px; ">
                    <br>
                    <a href="/district">
                        <span class="glyphicon glyphicon-bookmark "></span>
                        <br>

                        <h5><b>पुरा जानकारी </b></h5>
                    </a>
                </div>

            </div>
        </div>
    </div>


    <!-- <div class="row ">
            <div id="main">
                <div class="col col-sm-3 ">
                    <div class="thumbnail ">
                        <br>
                        <div> <span class="glyphicon glyphicon-phone "></span></div>


                        <div>
                            <h5><b>नक्सामा हेर्नुहोस्</b></h5>
                        </div>
                    </div>
                </div>

                <div class="col col-sm-3 ">
                    <div class="thumbnail ">
                        <br>
                        <span class="glyphicon glyphicon-bookmark "></span>
                        <br>

                        <h5><b>नक्सामा हेर्नुहोस्</b></h5>
                    </div>
                </div>
                <div class="col col-sm-3 ">
                    <div class="thumbnail ">
                        <br>
                        <span class="glyphicon glyphicon-bookmark "></span>
                        <br>

                        <h5><b>नक्सामा हेर्नुहोस्</b></h5>
                    </div>
                </div>


                <div class="col col-sm-3 ">
                    <div class="thumbnail "><br>
                        <span class="glyphicon glyphicon-bookmark "></span>
                        <br>

                        <h5><b>नक्सामा हेर्नुहोस्</b></h5>
                    </div>
                </div>

            </div>


            <div id="main">

            </div>







        </div> -->


    <div class="row ">
        <div class="col col-md-6 " style="height: auto; background-color: #f2f2eb; border-radius: 3px; 
            ">
            <br>
            <div>
                <div>
                    <span class="btn btn-primary pull-right ">
                            <b><a href="/more" style="color: white;">थप जानकार</a></b>
                        </span>
                </div>
                <h4 style="color: red; font-family: sans-serif; "><b>
                    कोरोना भाइरस (कोभिड-१९)
                </b>
                </h4>
            </div>
            <br>
            <p>
                हाल विश्वभरी फैलिरहेका नयाँ कोरोना भाइरसको संक्रमणबाट लागेको रोगलाई विश्व स्वास्थ्य संगठनले “कोभिड १९” को नाम दिएको छ र यसलाई विश्वव्यापी महामारीको रुपमा घोषणा गरिसकिएको छ ।कोरोना भाइरस श्वाशप्रश्वाशको माध्यमबाट सर्ने रोग हो । यो संक्रमित व्यक्त्तिले
                खोक्दा वा हाछ्युँ गर्दा नाक वा मुखबाट निस्कने छिट्टाको माध्यमबाट एक व्यक्त्तिबाट अर्को व्यक्त्तिमा सर्दछ ।
                <br>
                <br>यो नयाँ प्रजातिको भाइरस हो जुन मानव जातिमा पहिले पहिचान भएको थिएन। यस भाइरसले मानिस र पशुहरूमा संक्रमण गर्दछ। यस भाइरसले सामान्य रुघाखोकी देखि गम्भीर प्रकारको तीव्र श्वासप्रश्वास Severe Acute Respiratory Syndrome (SARS) सम्म गराउन
                सक्दछ ।
            </p>

            <ul class="list-group">
                <a href="/more">
                    <li class="list-group-item list-group-item-success">

                        <b>प्रायः सोधिने प्रश्नहरू</b>
                        <br>
                        <b>Frequently Asked Questions</b>
                    </li>
                </a>

            </ul>

        </div>


        <div class="col col-md-5" id="last" style="height: auto; background-color: #f2f2eb; border-radius: 3px;  ">
            <br>
            <div>

                <h4 style="color: red; font-family: sans-serif; "><b>
                        कोभिड-१९ का लागी स्वास्थ्य संस्थाहरु
                </b>

                </h4>
                <ul class="list-group">



                    <li class="list-group-item list-group-item-success">
                        <b>Dhaulagiri Hospital</b>
                        <p>Baglung Nagarpalika,Baglung</p>
                        <b>068-520188</b>
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        <b>Bheri Hospital</b>
                        <p>Nepalgunj Upamahanagarpalika,Banke</p>
                        <b>081-520120</b>
                    </li>
                    <li class="list-group-item list-group-item-warning">
                        <b>Janakpur Hospital</b>
                        <p>Janakpur Upamahanagarpalika,Dhanusha</p>
                        <b>041-520133</b>
                    </li>

                </ul>

            </div>
            <br>


        </div>



    </div>


</div>

</div>


<br>
<br>
<div th:replace="home/footer"></div>
<script>
    $(document).ready(function() {

        var total = $('#totalcase');
        var positive = $('#pcrpositive');
        var negative = $('#totalnegative');
        var quarantine = $('#qurantine');
        var isolation = $('#isolation');
        var recover = $('#recover');
        var deaths = $('#deaths')
        $.get('https://nepalcorona.info/api/v1/data/nepal', function(data) {
            console.log(data)
            console.log(data.tested_total);
            total.html(data.tested_total)
            isolation.html(data.in_isolation);
            quarantine.html(data.quarantined);
            recover.html(data.recovered);
            negative.html(data.tested_negative);
            deaths.html(data.deaths);
            positive.html(data.tested_positive)
            $('#totalcase2').html(data.tested_total)

            var date = (data.updated_at);
            var dateFormat = ('MM dd, yy, h:MM AM/PM', new Date(date));
            console.log(dateFormat)
            $('#update').html(dateFormat);
            $('#worldupdate').html(dateFormat)

        })

        $.get('https://data.nepalcorona.info/api/v1/world', function(data) {
            console.log(data)
            var wpositive = $('#worldpositive');
            var wdeaths = $('#worlddeaths');
            wpositive.html(data.cases);
            wdeaths.html(data.deaths)
        })


        $('#searchuser').on('submit', function(e) {


            $('#result').html('');
            var searchfield = $('#search').val();
            if (searchfield == '') {
                $('#gosearch').disabled();

            }

            var expression = new RegExp(searchfield, 'i');


            for (var j = 1; j <= 77; j++) {

                var settings = {
                    "url": "https://data.nepalcorona.info/api/v1/districts/" + j,
                    "method": "GET",
                    "timeout": 0,
                };

                $.ajax(settings).done(function(response) {

                    console.log(response)
                    if (response.title.search(expression) != -1 || response.title_ne.search(expression) != -1) {
                        $('#result').append('<li class="list-group-item text-center" id="listresult" style="background-color: rgb(235, 251, 236); border-radius:10px"><b> District: ' + response.title_ne + ' | province: ' + response.province + '<br>Total Cases: ' + response.covid_cases.length + '</b></li>');
                    }


                });




            }

            return false;
        })


    })
</script>