<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/mystyle.css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <title>Covid-Nepal</title>
</head>

<body>

    <div id="navbar1">
        <nav class="navbar navbar-default " style="height: 120px;">


            <div class="container" id="header">
                <div class="row">
                    <div class="pull-right
                    " style="padding-top: 60px;">


                        <span><img alt="Brand" src="dist/google.png" class="img-responsive" width="110px;" height="115px;">

                        </span>
                    </div>

                    <a class="navbar-brand" href="#">
                        <img alt="Brand" src="dist/gov sign.png" class="img-responsive" width="100px;" height="100px;">
                    </a>



                    <label for="" style="padding-top:50px;
                    color: blue; font-family: sans-serif;">
                    <h4><b> नेपाल सरकार<br>
                        <label for="" style="color: red;">स्वास्थ्य तथा जनसंख्या मन्त्रालय</label></b>
                    </h4>
                    </label>


                    <label id="contact" for="" class="text-center" style="padding-left: 310px;">
                        <b>
                            <p>
                               <span style="color: red;
                               font-size: 18px;">1115</span> (बिहान ६ देखि राती १० सम्म) <span style="color: red;
                               font-size: 18px;">1133</span>(चौबीसै घण्टा)<br>
                        <span style="color:royalblue"> 9851-255-834, 9851-255-837, 9851-255-839</span>(बिहान ८ - बेलुका ८)</p>
                        </b>
                    </label>


                </div>


            </div>


        </nav>


        <!-- /.navbar-collapse -->
    </div>
    <div id="navbar2">
        <nav class="navbar navbar-default " style="height: 225px;">


            <div class="container" id="header2">
                <div class="text-center">


                    <a href="#">
                        <img alt="Brand" src="dist/gov sign.png" class="img-responsive center" width="50px;" height="50px;">
                    </a>


                    <h4><b style="font-size: 12px; color:royalblue;"> नेपाल सरकार<br>
                        <label for="" style="color: red;">स्वास्थ्य तथा जनसंख्या मन्त्रालय</label></b>
                    </h4>
                    <span for="" class="text-center" style="font-size: 10;
                    font-family: sans-serif;">
                    <b>
                        <p>
                           <span style="color: red;
                           font-size: 18px;">1115</span> (बिहान ६ देखि राती १० सम्म) <span style="color: red;
                           font-size: 18px;">1133</span>(चौबीसै घण्टा)<br>
                    <span style="color:royalblue"> 9851-255-834, 9851-255-837, 9851-255-839</span>&nbsp;&nbsp;(बिहान ८ - बेलुका ८)</p>
                    </b>
                    </span>

                    <img alt="Brand" src="dist/google.png" class="img-responsive center" width="60px;" height="60px;">





                </div>


            </div>


        </nav>

        <div>
            <marquee>
                <p style=" color: red; 
                font-size: 15px; font-family: sans-serif;">The information contained in this website is for general purposes only. No Actual data has been contained</p>
            </marquee>

        </div>

        <!-- /.navbar-collapse -->
    </div>


    <!-- /.container-fluid -->
    </nav>


    </div>

    <div class="container ">
        <div class="row ">
            <div class="col col-md-2 ">

                <div id="world">
                    <span> <img src="dist/images.jpg " height="20px "></span> &nbsp;
                    <label style="color: red; font-size:18px; ">विश्वभरीमा</label>
                    <br>
                    <br>


                </div>
                <div id="firstmain">


                    <div>
                        <span><b style="color: blue; font-size: 25px;; "
                            >५०६१४७६</b></span>
                        <br>
                        <label style="color: grey; ">संक्रमित</label>

                        <br>
                        <br>


                    </div>
                    <div id="death">
                        <span><b style="color: red; font-size: 25px;; ">३३१४७५</b></span>
                        <br>
                        <label style="color: grey; ">मृत्यु भएको</label>
                        <br>
                        <br>

                    </div>

                </div>
                <p style="font-size: 10px; font-style: italic; ">स्रोत : विश्व स्वास्थ्य संगठन अपडेट गरिएको : May 23rd, 5:01 PM</p>




            </div>

            <div class=" col col-md-8 ">

                <div>
                    <span class="glyphicon glyphicon-equalizer ">&nbsp;<b style="color: red; font-size:18px; ">नेपालको पछिल्लो तथ्यांक</b></span> &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="text-center " style="font-style: italic; ">अपडेट गरिएको
                            :
                            Saturday, May 23, 2020 5:27 PM</span>


                </div>

                <br> &nbsp;

                <div>
                    <div class="row">
                        <div id="main">
                            <div class="thumbnail col-xs-2 col-md-3 text-center " style=" margin-right: 15px; width: 180px; height: 90px; background-color:#f2f7f4; ">
                                <br>
                                <b style="font-size:25px; ">४५९५९
                           </b>
                                <br>
                                <p style="color: darkgray; "> PCR परिक्षण गरिएको</p>
                            </div>
                            <div class="thumbnail col-xs-6 col-md-3 text-center " style=" margin-right: 15px; width: 180px; height: 90px; background-color:#ddede9; ">
                                <br>
                                <b style="font-size:25px; ">५८४
                           </b>
                                <br>
                                <p style="color: darkgray; "> संक्रमण देखिएको (PCR)</p>
                            </div>

                        </div>

                        <div id="main">

                            <div class="thumbnail col-xs-6 col-md-3 text-center " style=" margin-right: 15px; width: 180px; height: 90px; background-color: rgb(235, 251, 236);; ">
                                <br>
                                <b style="font-size:25px; ">४५३७५
                           </b>
                                <br>
                                <p style="color: darkgray; ">संक्रमण नदेखिएको (PCR)</p>
                            </div>
                            <div class="thumbnail col-xs-6 col-md-3 text-center " style=" margin-right: 15px; width: 180px; height: 90px; background-color:rgb(250, 226, 230) ">
                                <br>
                                <b style="font-size:25px; ">४५९५९
                           </b>
                                <br>
                                <p style="color: darkgray; "> PCR परिक्षण गरिएको</p>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div id="main">
                            <div class="thumbnail col-xs-6 col-md-3 text-center " style=" margin-right: 15px; width: 180px; height: 90px; background-color: rgb(250, 226, 230); ">
                                <br>
                                <b style="font-size:25px; ">३२५८७
                       </b>
                                <br>
                                <p style="color: darkgray; "> क्वारेन्टाइनमा</p>
                            </div>
                            <div class="thumbnail col-xs-6 col-md-3 text-center " style=" margin-right: 15px; width: 180px; height: 90px; background-color: rgb(235, 214, 255); ">
                                <br>
                                <b style="font-size:25px; ">५११
                       </b>
                                <br>
                                <p style="color: darkgray; "> आइसोलेसनमा</p>
                            </div>

                        </div>

                        <div id="main">




                            <div class="thumbnail col-xs-6 col-md-3 text-center " style=" margin-right: 15px; width: 180px; height: 90px; background-color: rgb(231, 231, 254); ">
                                <br>
                                <b style="font-size:25px; ">७०
                       </b>
                                <br>
                                <p style="color: darkgray; "> निको भएको</p>
                            </div>
                            <div class="thumbnail col-xs-6 col-md-3 text-center " style=" margin-right: 5px; width: 180px; height: 90px; background-color: rgb(251, 153, 158); ">
                                <br>
                                <b style="font-size:25px; ">३
                       </b>
                                <br>
                                <p style="color: darkgray; ">मृत्यु भएको</p>
                            </div>











                        </div>


                    </div>

                </div>





            </div>
            <br>
            <br>
            <br>

            <div id="main2" class="col col-md-2 ">
                <div id="main" class="row" style="padding-top: 4px; ">
                    <div class="thumbnail col-xs-6 col-md-3 text-center " style=" width: 180px; height: 90px; margin-right: 5px; ">
                        <br>
                        <span class="glyphicon glyphicon-exclamation-sign "></span>
                        <br>

                        <h5><b>कोरोना लक्षण मूल्यांकन</b></h5>


                    </div>
                    <div class="thumbnail col-xs-6 col-md-3 text-center " style=" width: 180px; height: 90px; ">
                        <br>
                        <span class="glyphicon glyphicon-bookmark "></span>
                        <br>

                        <h5><b>नक्सामा हेर्नुहोस्</b></h5>
                    </div>

                </div>
            </div>
        </div>

        <!-- <div class="row ">
            <div id="main">
                <div class="col col-sm-3 ">
                    <div class="thumbnail ">
                        <br>
                        <div> <span class="glyphicon glyphicon-phone "></span></div>


                        <div>
                            <h5><b>नक्सामा हेर्नुहोस्</b></h5>
                        </div>
                    </div>
                </div>

                <div class="col col-sm-3 ">
                    <div class="thumbnail ">
                        <br>
                        <span class="glyphicon glyphicon-bookmark "></span>
                        <br>

                        <h5><b>नक्सामा हेर्नुहोस्</b></h5>
                    </div>
                </div>
                <div class="col col-sm-3 ">
                    <div class="thumbnail ">
                        <br>
                        <span class="glyphicon glyphicon-bookmark "></span>
                        <br>

                        <h5><b>नक्सामा हेर्नुहोस्</b></h5>
                    </div>
                </div>


                <div class="col col-sm-3 ">
                    <div class="thumbnail "><br>
                        <span class="glyphicon glyphicon-bookmark "></span>
                        <br>

                        <h5><b>नक्सामा हेर्नुहोस्</b></h5>
                    </div>
                </div>

            </div>


            <div id="main">

            </div>







        </div> -->


        <div class="row ">
            <div class="col col-md-6 " style="height: auto; background-color: #f2f2eb; border-radius: 3px; 
            ">
                <br>
                <div>
                    <div>
                        <span class="btn btn-primary pull-right ">
                            <b>थप जानकार</b>
                        </span>
                    </div>
                    <h4 style="color: red; font-family: sans-serif; "><b>
                    कोरोना भाइरस (कोभिड-१९)
                </b>
                    </h4>
                </div>
                <br>
                <p>
                    हाल विश्वभरी फैलिरहेका नयाँ कोरोना भाइरसको संक्रमणबाट लागेको रोगलाई विश्व स्वास्थ्य संगठनले “कोभिड १९” को नाम दिएको छ र यसलाई विश्वव्यापी महामारीको रुपमा घोषणा गरिसकिएको छ ।कोरोना भाइरस श्वाशप्रश्वाशको माध्यमबाट सर्ने रोग हो । यो संक्रमित व्यक्त्तिले
                    खोक्दा वा हाछ्युँ गर्दा नाक वा मुखबाट निस्कने छिट्टाको माध्यमबाट एक व्यक्त्तिबाट अर्को व्यक्त्तिमा सर्दछ ।
                    <br>
                    <br>यो नयाँ प्रजातिको भाइरस हो जुन मानव जातिमा पहिले पहिचान भएको थिएन। यस भाइरसले मानिस र पशुहरूमा संक्रमण गर्दछ। यस भाइरसले सामान्य रुघाखोकी देखि गम्भीर प्रकारको तीव्र श्वासप्रश्वास Severe Acute Respiratory Syndrome (SARS) सम्म गराउन
                    सक्दछ ।
                </p>

                <ul class="list-group">
                    <li class="list-group-item list-group-item-success">
                        <b>प्रायः सोधिने प्रश्नहरू</b>
                        <br>
                        <b>Frequently Asked Questions</b>
                    </li>
                </ul>

            </div>


            <div class="col col-md-5" id="last" style="height: auto; background-color: #f2f2eb; border-radius: 3px;  ">
                <br>
                <div>

                    <h4 style="color: red; font-family: sans-serif; "><b>
                        कोभिड-१९ का लागी स्वास्थ्य संस्थाहरु
                </b>

                    </h4>
                    <ul class="list-group">



                        <li class="list-group-item list-group-item-success">
                            <b>Dhaulagiri Hospital</b>
                            <p>Baglung Nagarpalika,Baglung</p>
                            <b>068-520188</b>
                        </li>
                        <li class="list-group-item list-group-item-danger">
                            <b>Bheri Hospital</b>
                            <p>Nepalgunj Upamahanagarpalika,Banke</p>
                            <b>081-520120</b>
                        </li>
                        <li class="list-group-item list-group-item-warning">
                            <b>Janakpur Hospital</b>
                            <p>Janakpur Upamahanagarpalika,Dhanusha</p>
                            <b>041-520133</b>
                        </li>

                    </ul>

                </div>
                <br>


            </div>



        </div>

    </div>

    </div>


    <br>
    <br>
    <div class="alert alert-danger text-center alert-dismissible container show" role="alert">
        <strong>This site has been developed just for educational purpose so, All the above metion data are just a dommy data, Actual data are mention below</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="container" style="height: auto;">
        <iframe src="https://coronanepal.live/embed/" style="min-height:320px;width:100%!important;overflow-y:hidden;margin-top:10px!important;">
</iframe>

    </div>
    <footer>
        <div style="background-color:#f7f7f7; height: 50px;width: 100%; ">
            <br>
            <div class="text-center ">
                <b style="color: black; font-family: sans-serif; font-size: 15px; ">&#169 Copyright-2020
                | Developed By: Himal rai</b>
            </div>


        </div>
    </footer>

    <script type="text/javascript " src="js/jquery.js "></script>
    <script type="text/javascript " src="js/bootstrap.js "></script>
</body>

</html>